.root {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.root h2 {
    font-size: large;
    color: var(--color-primary);
    margin: 2rem;
}