.col h5 {
    color:var(--color-primary);
    width: 100%;
}

.col h6 {
    color:var(--color-primary);
    width: 100%;
    margin-top: 1rem;
    font-size: .75rem;
}

.col {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}