.col h5 {
    color:var(--color-primary);
    width: 100%;
}

.col h6 {
    color:var(--color-primary);
    width: 100%;
    margin-top: 1rem;
    font-size: .75rem;
}

.col {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tabela {
  width: 100%;  
}

.tabela thead tr th {
  text-align: start;
  width: 50%;
  border-bottom: 2px solid black;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.tabela tbody tr td {
  font-size: small;
  padding-top: .25rem;
  padding-bottom: .25rem;
}