.backgroundimg {
  background-image: url(/static/images/banner-obras.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  height: 70vh;
}

.backgroundimg span {
  font-size: 14px;
}

.background {
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.interno {
  background-color: #ffffff;
  color: #1e1e1e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 90rem;
  border-radius: 10rem 0rem 0rem 0rem;
  transition: 1s ease-in-out;
}

.box {
  width: 100%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 5rem;
}

.box h3 {
  font-family: Montserrat;
  font-size: 54px;
  color: #2d2d2d;
}

.box h4 {
  color: #2e9845;
}

.box p {
  font-size: 14px;
  font-weight: 600;
  color: #bbbbbb;
  letter-spacing: 12px;
}

.box span {
  font-size: 16px;
  margin-top: 0.5rem;
  line-height: 24px;
}

.interno:hover {
  background-color: #2e9845;
  color: #ffffff;
  transition: 0.5s ease-in-out;
}

.interno:hover h3 {
  color: #ffffff;
}

.interno:hover h4 {
  color: #ffffff;
}

.interno:hover p {
  color: #ffffff;
}

/*

.box2 {
  width: 100%;
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.box2 ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  justify-content: space-between;
}

.box2 li {
  width: 100%;
  max-width: 11rem;
  cursor: pointer;
}
*/

.box2 {
  width: 100%;
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.box2 img {
  width: 100%;
  transition: opacity 0.3s ease-in-out;
}

.box2 ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  justify-content: space-between;
}

.box2 li {
  width: 100%;
  max-width: 11rem;
  cursor: pointer;
}

.box2 li img {
  width: 100%;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.box2 li img:hover {
  transform: scale(1.1);
}

.interno2 {
  width: 100%;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.interno2 img {
  margin-top: 1.5rem;
  width: 100%;
  max-width: 5rem;
}

.projetos {
  width: 100%;
  max-width: 25rem;
  margin-top: 2rem;
}

.servicos {
  width: 100%;
  max-width: 8rem;
  margin-top: 2rem;
}

.obra-concluida-box {
  width: 100%;
  height: 47rem;
  display: grid;
  grid-template-columns: 55% auto;
  margin-bottom: 1rem;
  padding: 0;
  border-top-left-radius: 15rem;
  border: 1px solid #2e9845;
}

.obra-concluida-box:hover {
  background-color: #2e9845;
}

.obra-concluida-box:hover .conteudo {
  color: white !important;
}

.obra-concluida-box:hover .conteudo h3 {
  color: white !important;
}

.obra-concluida-box:hover .conteudo span {
  color: white !important;
}

.obra-concluida-box .conteudo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem 7rem;
}

.obra-concluida-box .conteudo h3 {
  font-size: 2.5em;
  color: #2d2d2d;
  line-height: 2.5rem;
  margin-bottom: 1.5rem !important;
}

.obra-concluida-box .conteudo p {
  font-size: 1em;
}

.obra-concluida-box .conteudo span {
  font-size: 1.5em;
  font-weight: 600;
  color: #bbb;
  letter-spacing: .75em;
  margin: .5rem 0;
}

.obra-concluida-box .conteudo .data-termino {
  color: #2e9845;
  font-weight: 700;
  font-size: 2em;
  letter-spacing: normal;
}

.obra-concluida-box .fotos {
  width: 100%;
  height: 47rem;
  display: flex;
  flex-direction: column;
}

.obra-concluida-box .fotos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 216px) and (max-width: 926px) {
  .background {
    height: 100%;
  }

  .interno {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 30rem;
    padding: 0rem;
    margin: 0rem;
  }

  .interno2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 30rem;
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .box {
    max-width: 28rem;
  }

  .box h3 {
    font-size: 32px;
    max-width: 25rem;
  }

  .box h4 {
    color: #2e9845;
    font-size: 20px;
  }

  .box span {
    max-width: 25rem;
    margin-bottom: 1rem;
  }
}