.section {
  background: #2f2f2f;
  padding: 4rem 1rem 6rem 1rem;
}

/* SUBTÍTULO */
.subtitulo {
  color: #e2e2e2;
  font-size: 14px;
  margin-bottom: 0.5rem;
  text-align: center;
}

/* TÍTULO */
.titulo {
  font-size: 32px;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 0.4rem;
  text-align: center;
}

.titulo span {
  background: linear-gradient(90deg, #e84800, #ff7800);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* DESCRIÇÃO */
.desc {
  color: #cfcfcf;
  margin-bottom: 3rem;
  text-align: center;
}

/* GRID PRINCIPAL */
.linha {
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

/* ESQUERDA */
.colInfo {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* BLOCO COM ÍCONE */
.infoBloco {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.icone {
  width: 40px;
  height: 40px;
  background: #e84800;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.icone img {
  width: 18px;
}

.infoBloco h5 {
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
}

.infoBloco p {
  color: #cfcfcf;
  font-size: 14px;
  margin: 2px 0;
}

/* FORMULÁRIO */
.colForm {
  width: 45%;
  background: #3a3a3a;
  padding: 2rem;
  border-radius: 10px;
}

.colForm form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.colForm input,
.colForm textarea {
  width: 100%;
  background: #4b4b4b;
  border: 1px solid #5a5a5a;
  border-radius: 6px;
  padding: 12px;
  color: #ffffff;
  font-size: 14px;
}

.colForm textarea {
  resize: none;
  min-height: 120px;
}

/* BOTÃO */
.colForm button {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;

  font-weight: 600;
  color: white;
  background: linear-gradient(90deg, #e84800, #ff7800);
  transition: 0.2s ease;
}

.colForm button:hover {
  filter: brightness(1.2);
}

/* RESPONSIVO */
@media (max-width: 880px) {
  .linha {
    flex-direction: column;
    align-items: center;
  }

  .colInfo,
  .colForm {
    width: 100%;
  }
}
