@tailwind components;
@tailwind utilities;

:root {
  --laranja-dark: #e84800;
  --laranja-light: #ff7800;
  --laranja-gradient: linear-gradient(90deg, #e84800, #ff7800);

  --laranja-soft-bg: #fff0e6;
  --laranja-border: #ffb899;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: #fff !important;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}

*,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  position: relative;
  padding: 100px 0;
}

img {
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

p {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 15px;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

.rec.rec-carousel-wrapper:focus,
.rec.rec-carousel-wrapper .rec-carousel:focus,
.rec.rec-carousel-wrapper .rec-slider-container:focus,
.rec.rec-carousel-wrapper .rec-slider-container .rec-slider:focus,
.rec.rec-carousel-wrapper .rec-slider-container .rec-slider div:focus {
  outline: none;
}

.rec.rec-carousel-wrapper .rec-slider-container {
  display: flex;
  flex-direction: column;
}

/* Arrow Styles */

.rec.rec-carousel-wrapper .rec-carousel button {
  background: #2e9845;
  color: #fff;
}

.rec.rec-carousel-wrapper .rec-pagination .rec.rec-dot.rec {
  box-shadow: none;
  background: #474787d4;
}

.rec.rec-carousel-wrapper .rec-pagination .rec.rec-dot.rec.rec-dot_active {
  background: #2e9845;
}

.MuiOutlinedInput-root {
  border-radius: 0.3rem;
}

.paper {
  width: 100%;
  margin: auto;
  padding: 1rem;
}

.paper .root {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.voltar {
  font-size: small;
  width: 100%;
  color: var(--color-primary);
  font-weight: 500;
  margin-bottom: 1rem;
}

.upload-control {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.upload-control .button {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.upload-control .button button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.select-input {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.swal2-container {
  z-index: 11E1E1E00000 !important;
}

.center-div {
  transform: translate(-50%, -50%);
}

/*
.MuiButtonBase-root {
  width: 100%;
  max-width: 15rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: #2e9845;
  border-radius: 0.3rem;
  border: 0px;
  color: #fff;
  font-weight: bold;
  margin-left: 0.6rem;
  transition: 0.5s;
}

.MuiButtonBase-root:hover {
  color: #e8e8e8;
  transition: 0.5s;
  background-color: #1e672e;
}
*/

@media only screen and (min-width: 216px) and (max-width: 926px) {
  .MuiButtonBase-root {
    display: flex;
  }
}