.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  position: relative;
  z-index: 999;
}

.head {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1rem;
  padding-left: 1.5rem;
}

.head img {
  max-height: 2.5rem;
  margin-right: 1rem;
  filter: brightness(0) invert(0);
}

.head h2 {
  font-size: x-large;
}

.root Textfield {
  color: #01030e;
}

.root Select {
  color: #01030e;
}

@media only screen and (min-width: 216px) and (max-width: 926px) {
  .root {
    width: 100%;
  }

}