.background {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #01030e;
  background-color: #ffffff;
}

.backgroundimg {
  background-image: url(/static/images/banner-interno.jpg);
  background-position: center;
  background-size: cover;
  height: 60vh;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.interno2 {
  width: 100%;
  max-width: 80rem;
  padding: 0 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.backgroundimg span {
  font-size: 14px;
  letter-spacing: 1px;
}

.backgroundimg h2 {
  font-size: 48px;
  font-weight: 700;
}

.interno2 img {
  margin-top: 1.5rem;
  width: 5rem;
}




.interno {
  width: 100%;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.box {
  width: 100%;
  max-width: 40rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box2 {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  color: #fff;
  z-index: 10;
}

.blog {
  width: 100%;
  max-width: 24rem;
  overflow: hidden;
  cursor: pointer;
}

.blog img {
  width: 100%;
  height: 100%;
  max-width: 24rem;
  transition: transform 1s;
  overflow: hidden;
  border-radius: 1rem;
}

.blog h4{
  color: #e84800;
}

.blog h2 {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  margin-top: 1rem;
}

.blog p {
  color: #b7b7b7;
  margin-top: 1rem;
}

.data {
  font-weight: 600;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.data img {
  width: 20px;
}

.quem {
  color: #e84800;
}

.span {
  margin-top: 0rem;
}

.span p {
  color: #01030e;
  margin-top: 3rem;
}

.span h4 {
  color: #e84800;
  margin-top: 3rem;
  font-weight: 400;
  font-size: 32px;
}

.span img {
  width: 100%;
  max-width: 19.3rem;
  max-height: 19.3rem;
}


/* @media Menu Mobile*/
@media only screen and (max-width: 926px) {
  .background {
    width: 100%;
    display: flex;
    flex-direction: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .interno {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .interno2 {
    width: 100%;
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  .blog {
    width: 100%;
    max-width: 24rem;
    cursor: pointer;
    margin-top: 3rem;
  }
    
  .span img {
    width: 100%;
    max-width: 16rem;
    margin-right: 0.5rem;
    max-height: 16rem;
  }
    
}
