.background {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #01030e;
  flex-direction: column;
  background-color: #ffffff;
}

.backgroundimg {
  background-image: url(/static/images/banner-interno.jpg);
  background-position: center;
  background-size: cover;
  height: 60vh;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.interno2 {
  width: 100%;
  max-width: 80rem;
  padding: 0 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.backgroundimg span {
  font-size: 14px;
  letter-spacing: 1px;
}

.backgroundimg h2 {
  font-size: 48px;
  font-weight: 700;
}

.interno2 img {
  margin-top: 1.5rem;
  width: 5rem;
}

.interno {
  width: 100%;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.box {
  width: 100%;
  max-width: 40rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.interno3 {
  width: 100%;
  max-width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.parceiros {
  width: 100%;
  max-width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
  padding: 1rem 3rem;
  border-radius: 1rem;
  margin: 0.5rem 0.5rem;
  transition: 0.5s ease-out;
}

.parceiros img {
  width: 100%;
  max-width: 5rem;
}

.parceiros:hover {
  background-color: #d0d0d0;
  transition: 0.5s ease-in-out;
  box-shadow: 0px 4px 10px #cecece ;
}


.categorias {
  width: 100%;
  max-width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ff4b2b;
  padding: 1rem 3rem;
  border-radius: 1rem;
  margin: 0.5rem 0.5rem;
  transition: 0.5s ease-out;
  color: #ffffff;
  font-size: 14px;
}

.categorias img {
  width: 100%;
  max-width: 3rem;
}

.categorias:hover {
  background-color: #e63926;
  transition: 0.5s ease-in-out;
  box-shadow: 0px 4px 10px #2a2a2a8e ;
}

/* @media Menu Mobile*/
@media only screen and (max-width: 926px) {
  .background {
    width: 100%;
    display: flex;
    flex-direction: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .interno {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .interno2 {
    width: 100%;
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


}
