.root {
  width: 100%;
  height:3.5rem;
  background-color: #ededed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #000000;
}

.content {
  width: 100%;
  max-width: 80rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content span {
  display: flex;
  flex-direction: row;
}



@media only screen and (min-width: 216px) and (max-width: 926px) {

  .root {
    height:100%;
    flex-direction: column;
  }

  .content {
    width: 100%;
    max-width: 30rem;
    flex-direction: column;
  }

.content span {
  flex-direction: column;
  text-align: center;
  font-size: 12px;
}

}