.backgroundimg {
  background-image: url(/static/images/banner-servicos.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.background {
  background-color: #ffffff;
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1E1E1E;
  flex-direction: column;
}

.background2 {
  background-color: #2E9845;
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  flex-direction: column;
}

.interno {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 90rem;
}

.interno2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  text-align: center;
}

.titulo {
  font-family: Jura;
  font-size: 32px;
}

.box {
  width: 100%;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
}

.box h3{
  font-family: Jura;
  font-size: 36px;
}

.box p{
  font-family: Montserrat;
  font-size: 14px;
  margin-top: 1rem;
}

.imgprincicipal {
  width: 100%;
  max-width: 80rem;
}

.carrossel {
  width: 100%;
  max-width: 25.5rem;
  margin: 3rem 1rem 0rem 1rem;
  max-height: 370px;
}

.voltar {
  font-family: Jura;
  font-size: 14px;
  letter-spacing: 8px;
  cursor: pointer;
}

.voltar img {
  width: 100%;
  max-width: 1.1rem;
}

@media only screen and (min-width: 216px) and (max-width: 926px) {
  .background {
    height: 100%;
  }

  .interno {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 30rem;
    padding-bottom: 1rem;
  }

  .interno2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 25rem;
  }


}
