.background {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 999;
}

.background2 {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 10000;
}

.background img {
  max-width: 5rem;
  z-index: 999;
}

@media only screen and (max-width: 957.875rem) {
  .background {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 999;
  }
}